<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA"
            class="GHA.GHAPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Jobs"
            class="GHA.Jobs.JobsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Jobs/Matrices"
            class="GHA.Jobs.Matrices.MatricesPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Jobs/Steps"
            class="GHA.Jobs.Steps.StepsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Triggers"
            class="GHA.Triggers.TriggersPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Triggers/Parameters"
            class="GHA.Triggers.Parameters.ParametersPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Options"
            class="GHA.Options.OptionsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions"
            class="GHA.Expressions.ExpressionsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/BinaryOperators"
            class="GHA.Expressions.BinaryOperators.BinaryOperatorsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/BinaryOperators/EqualityOperators"
            class="GHA.Expressions.BinaryOperators.EqualityOperators.EqualityOperatorsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/BinaryOperators/ComparisonOperators"
            class="GHA.Expressions.BinaryOperators.ComparisonOperators.ComparisonOperatorsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/BinaryOperators/LogicalOperators"
            class="GHA.Expressions.BinaryOperators.LogicalOperators.LogicalOperatorsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/UnaryOperators"
            class="GHA.Expressions.UnaryOperators.UnaryOperatorsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/BuiltInFunctions"
            class="GHA.Expressions.BuiltInFunctions.BuiltInFunctionsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/BuiltInFunctions/StatusCheckFunctions"
            class="GHA.Expressions.BuiltInFunctions.StatusCheckFunctions.StatusCheckFunctionsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/Values"
            class="GHA.Expressions.Values.ValuesPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/Values/Literals"
            class="GHA.Expressions.Values.Literals.LiteralsPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GHA -->
      <package
            uri="http://d.fe.up.pt/GHA/Expressions/Values/Variables"
            class="GHA.Expressions.Values.Variables.VariablesPackage"
            genModel="model/GHA.genmodel"/>
   </extension>

</plugin>
