.vscode/
test/scripts/.env
test/tests/*
!test/tests/.empty
test/Repositories.random_processed.json
cli/log
test/converted/*
!test/converted/.empty
test/yamldiff
test/diffs/*
!test/diffs/.empty
test/categorized_diffs/*
!test/categorized_diffs/.empty
test/converted_circleci/*
test/circleci_alex.zip
test/circleci_alex/*
test/converted_circleci_pre_validate/*
cli/log_circleci
cli/log_circleci_validated
