<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CircleCI -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="d.fe.up.pt.cicd.circleci.metamodel.CircleCI.presentation.CircleCIModelWizardID"
            name="%_UI_CircleCIModelWizard_label"
            class="d.fe.up.pt.cicd.circleci.metamodel.CircleCI.presentation.CircleCIModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CircleCIModelFile.gif">
         <description>%_UI_CircleCIModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CircleCI -->
      <editor
            id="d.fe.up.pt.cicd.circleci.metamodel.CircleCI.presentation.CircleCIEditorID"
            name="%_UI_CircleCIEditor_label"
            icon="icons/full/obj16/CircleCIModelFile.gif"
            extensions="circleci"
            class="d.fe.up.pt.cicd.circleci.metamodel.CircleCI.presentation.CircleCIEditor"
            contributorClass="d.fe.up.pt.cicd.circleci.metamodel.CircleCI.presentation.CircleCIActionBarContributor">
      </editor>
   </extension>

</plugin>
