<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD"
            class="CICD.CICDPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Triggers"
            class="CICD.Triggers.TriggersPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Options"
            class="CICD.Options.OptionsPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Matrices"
            class="CICD.Matrices.MatricesPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Parameters"
            class="CICD.Parameters.ParametersPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Steps"
            class="CICD.Steps.StepsPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Expressions"
            class="CICD.Expressions.ExpressionsPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Expressions/Values"
            class="CICD.Expressions.Values.ValuesPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Expressions/Values/Literals"
            class="CICD.Expressions.Values.Literals.LiteralsPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Expressions/Values/Variables"
            class="CICD.Expressions.Values.Variables.VariablesPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Expressions/BuiltInFunctions"
            class="CICD.Expressions.BuiltInFunctions.BuiltInFunctionsPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Expressions/"
            class="CICD.Expressions.BinaryOperations.BinaryOperationsPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/CICD/Expressions/UnaryOperations"
            class="CICD.Expressions.UnaryOperations.UnaryOperationsPackage"
            genModel="model/CICD.genmodel"/>
   </extension>

</plugin>
