#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

*.emtl          text eol=lf
*.mtl           text eol=lf
*.xml           text eol=lf
*.MF            text eol=lf
*.atl           text eol=lf
*.asm           text eol=lf

