
			invariant atLeastOneSet: group <> null or labels->size() > 0;


			invariant restrictWebhookTypes:
				eventTypes->select(eventType |
					eventType <> 'created' and
					eventType <> 'edited' and
					eventType <> 'deleted'
					)->size() = 0;

			
			invariant restrictWebhookTypes:
				eventTypes->select(eventType |
					eventType = 'created' or
					eventType = 'deleted'
					)->size() = 0;