<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Jenkins -->
      <package
            uri="http://d.fe.up.pt/Jenkins"
            class="d.fe.up.pt.cicd.jenkins.metamodel.Jenkins.JenkinsPackage"
            genModel="model/Jenkins.genmodel"/>
   </extension>

</plugin>
