<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cicd -->
      <package
            uri="http://www.d.fe.up.pt/cicd"
            class="CICD.CICDPackage"
            genModel="model/cicd.genmodel"/>
   </extension>

</plugin>
